.rlp__featured{
    padding-top: 100px;
    padding-bottom: 50px;
    margin-bottom: 50px;
}


.rlp__featured .title{
    text-align: center;
    font-family: var(--font-family-heading);
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
    margin-bottom: 95px;
}
.rlp__featured .content_wrapper{
    background: #F1FFFF;
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 767px) {
    .rlp__featured .content_wrapper{
        padding: 10px;
    }
}

@media screen and (max-width: 991px) {
    .rlp__featured .content_wrapper{
        display: block;
    }
}

.rlp__featured .content_wrapper .side_images{
    width: 40%;
    margin-bottom: 70px;
}
@media screen and (max-width: 991px) {
    .rlp__featured .content_wrapper .side_images{
        width: 100%;
    }
}

.rlp__featured .content_wrapper .side_images .image1{
    margin-bottom: -113px;
    display: flex;
    justify-content: center;
}
.rlp__featured .content_wrapper .side_images .image2{
    margin: auto !important;
    width: 80%;
    display: flex;
    justify-content: center;
    filter: drop-shadow(0px 163px 80px rgba(0, 0, 0, 0.04)) drop-shadow(0px 105.648px 46.8519px rgba(0, 0, 0, 0.0303704)) drop-shadow(0px 62.7852px 25.4815px rgba(0, 0, 0, 0.0242963)) drop-shadow(0px 32.6px 13px rgba(0, 0, 0, 0.02)) drop-shadow(0px 13.2815px 6.51852px rgba(0, 0, 0, 0.0157037)) drop-shadow(0px 3.01852px 3.14815px rgba(0, 0, 0, 0.00962963)) drop-shadow(48px 58px 44px rgba(0, 0, 0, 0.09));;
}
.rlp__featured .content_wrapper .side_images .image2 img{
    width: 100%;
}

.rlp__featured .content_wrapper .main_content{
    width: 53%;
}

@media screen and (max-width: 991px) {
    .rlp__featured .content_wrapper .main_content{
        width: 100%;
    }
}

.rlp__featured .content_wrapper .main_content h3{
    font-weight: 600;
    font-size: 31px;
    line-height: 42px;
    margin-bottom: 28px;
}

.rlp__featured .content_wrapper .main_content .details_wrapper{
    margin-top: 42px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 54px;
}
.rlp__featured .content_wrapper .main_content .details_wrapper .detail{
    width: 33.33%;
    margin-bottom: 37px;
}
.rlp__featured .content_wrapper .main_content .details_wrapper .detail h5{
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 12px;
}